<div class="table-header">
    {% include '@heading--h3' with { headingText: thText } %}
    {% include '@tabs' with { tabs: thTabs } %}
    {% include '@input--iconised' with {
        inputIcon: thInputIcon,
        inputName: thInputName,
        inputPlaceholder: thInputPlaceholder
    } %}
</div>