/* Menu
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.menu {
    background-color: color("white");
    border: .1rem solid color("secondary");
    border-radius: .2rem;
    box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, .05);
    display: none;
    position: absolute;
    top: 5.5rem;
    right: 3rem;
    z-index: zindex("first-floor");
    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;
        li {
            border-bottom: .1rem solid color("secondary");
            margin-bottom: 0;
            &:last-child { border-bottom: 0; }
        }
    }
    a {
        color: color("darker-purple");
        display: block;
        font-size: 1.4rem;
        padding: 1.5rem;
        transition: all $transition-default $animation-speed-fast;
        &:focus,
        &:hover {
            background-color: color("primary");
            color: color("white");
        }
    }
    &.active { display: inline-block; }
}
