/* Modal
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, .25);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.modal-dialog {
    background-color: color("white");
    border-radius: 1rem;
    //box-shadow: 2rem 2rem 4rem 0 rgba(0, 0, 0, .2);
    max-height: 70vh;
    padding: 6rem;
    position: relative;
    text-align: center;
    width: 82rem;
}

.modal--form .modal-dialog {
    padding: 0;
    text-align: initial;
}

.modal-header {
    background-color: color("white");
    border-bottom: .1rem solid color("secondary");
    padding: 1rem 2rem 2rem;
    position: absolute;
    top: 1rem;
    width: 100%;
    h3 {
        font-weight: 600;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    i {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 2rem;
    }
}

.modal-body {
    margin: 6.5rem 0 8rem;
    max-height: calc(70vh - 14.5rem);
    overflow-y: scroll;
    padding: 2rem;
}

.modal-footer {
    background-color: color("white");
    border-top: .1rem solid color("secondary");
    padding: 2rem 2rem 1rem;
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

.modal-backdrop {
    background-color: rgba(41, 44, 54, .87);
    display: none;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 12;
}

.wide-fixed-modal {
    width: 1000px;
}

.auto-width-modal {
    width: auto;
}
