<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ path ~ '/css/style.min.css' }}">
    <title>{{ _target.title }} | FaceToFace UI Component Library</title>
</head>
<body class="js no-touch preview">

    {{ yield }}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ path ~ '/js/main.min.js' }}"></script>
</body>
</html>