<div class="header">
    <div>
        <span>Hosted Buyer Scheduling</span>
    </div>
    <div>
        <a href="{{ usersLink }}" class="button">{{ usersText }}</a>
        <button class="button button-secondary menu-toggle">{{ userName }}<i class="icon-down-dir"></i></button>
    </div>
    {% include '@menu' %}
</div>